extends base

block content
  main.main
    .card-container
    
      each car in cars
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/cars/${car.imageCover}`, alt=`${car.name}`)
            h3.heading-tertirary
              span= car.name

          //- .card__details
          //-   h4.card__sub-heading= `${car.difficulty} ${car.duration}-day car`
          //-   p.card__text= car.summary
            //- .card__data
            //-   svg.card__icon
            //-     use(xlink:href='/img/icons.svg#icon-map-pin')
            //-   span= car.startLocation.description
            //- .card__data
            //-   svg.card__icon
            //-     use(xlink:href='/img/icons.svg#icon-calendar')
            //-   span= car.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
            //- .card__data
            //-   svg.card__icon
            //-     use(xlink:href='/img/icons.svg#icon-flag')
            //-   span= `${car.locations.length} stops`
            //- //- .card__data
            //-   svg.card__icon
            //-     use(xlink:href='/img/icons.svg#icon-user')
            //-   span= `${car.maxGroupSize} people`

          .card__footer
            p
              span.card__footer-value= `₹${car.price}`
              |   
              span.card__footer-text per day
            p.card__ratings
              span.card__footer-value= car.ratingsAverage
              | 
              //- span.card__footer-text= `rating (${car.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/car/${car.slug}`) Details